.SwatchNew {
  display: inline-block;
  align-items: center;
  margin: 0 5% 0 5%;
  width: 100%;
}

.Swatch {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  width: 80%;
}

.line {
  margin-bottom: 10px;
}

.option {
  width: 100px;
  float: left;
}

.value input {
  width: 300px;
}